In [5]:
from sqlalchemy import create_engine
import pandas as pd

In [6]:
engine = create_engine('postgresql+psycopg2://root:root@localhost/ecommerce')

In [7]:
produtos = pd.read_sql("SELECT * FROM produtos;", engine); produtos.head(10)

     codigo                                            produto   preco
0  BS001873                              Apple Lightning Cable   21.99
1  BS001874                          SanDisk Extreme microSDXC   31.50
2  BS001875                 Seagate 2TB Expansion Portable HDD   79.00
3  BS001876       TicWatch Pro 3 Ultra GPS Smartwatch Qualcomm  399.00
4  BS001877                         Webcam HD 1080p Web Camera   59.00
5  BS001878  Logitech MK270R Wireless Keyboard and Mouse Combo   38.00
6  BS001879                        Samsung T37F Monitor UHD 37  299.00
7  BS001880  HyperX QuadCast S – RGB USB Condenser Micropho...  213.00
8  BS001881        TP-Link Tapo Pan/Tilt Smart Security Camera   66.43
9  BS001882  HEYMIX Powerboard, Power Strip with 8 Outlets,...   52.49

In [8]:
vendas = pd.read_sql("SELECT * FROM vendas;", engine); vendas.head(10)

,Order ID,Date,ship-service-level,Style,codigo,Courier Status,qty,ship-country,fulfillment
0,171-8536041-9190708,2022-06-29,Expedited,SET400,BS001879,Cancelled,4,AU,Yes
1,407-4176879-6571509,2022-06-29,Expedited,JNE3486,BS001890,Cancelled,2,BR,Yes
2,404-4382011-4681149,2022-06-29,Expedited,JNE3887,BS001873,Cancelled,2,BR,Yes
3,406-3412504-2471555,2022-06-29,Expedited,JNE3487,BS001888,Cancelled,2,BR,Yes
4,408-2481787-8248368,2022-06-29,Expedited,JNE3566,BS001898,Cancelled,2,BR,Yes
5,406-7522239-7644307,2022-06-29,Expedited,SET286,BS001900,Cancelled,2,BR,Yes
6,402-5789132-5926724,2022-06-29,Expedited,JNE3675,BS001891,Cancelled,5,BR,Yes
7,406-3380662-9728336,2022-06-29,Expedited,J0157,BS001887,Cancelled,3,BR,Yes
8,402-2465163-9329126,2022-06-29,Expedited,J0337,BS001897,Cancelled,4,BR,Yes
9,407-2688982-0165102,2022-06-29,Expedited,JNE3697,BS001884,Cancelled,3,BR,Yes

##### 01 Quais os produtos mais vendidos?

```sql
CREATE VIEW vwProdutosMaisVendidos AS (
SELECT
    p.Produto,
    SUM(v.Qty) AS TotalQuantidadeVendida
FROM
    produtos p
JOIN
    vendas v ON p.Codigo = v.Codigo
GROUP BY
    p.Produto
ORDER BY
    TotalQuantidadeVendida desc);

```

In [10]:
df_ProdutosMaisVendidos = pd.read_sql("SELECT * FROM vwProdutosMaisVendidos;", engine); df_ProdutosMaisVendidos.head(10)

                                             produto  totalquantidadevendida
0  Logitech MK270R Wireless Keyboard and Mouse Combo                   15264
1                       Nintendo Switch Console Lite                   15256
2               Taco Cat Goat Cheese Pizza Card Game                   15247
3  Sony WH1000XM4 Noise Canceling Wireless Headph...                   15174
4        TP-Link Tapo Pan/Tilt Smart Security Camera                   15168
5    PHILIPS Sonicare 9900 Prestige Power Toothbrush                   15147
6  YABER WiFi Projector Mini Portable Projector 6...                   15138
7  HyperX QuadCast S – RGB USB Condenser Micropho...                   15121
8                 LG 29WL50S - 29 inch UltraWide UHD                   15095
9                            Kindle Paperwhite (8GB)                   15064

##### 02 Quais os produtos mais caros?

```sql
CREATE VIEW vwProdutosMaisCaros AS (
SELECT
    Produto,
    Preco
FROM
    produtos
ORDER BY
    Preco desc);
```

In [12]:
df_ProdutosMaisCaros = pd.read_sql("SELECT * FROM vwProdutosMaisCaros;", engine); df_ProdutosMaisCaros.head(10)

                                             produto   preco
0    LEGO Ideas Home Alone McCallisters’ House 21330  449.00
1       TicWatch Pro 3 Ultra GPS Smartwatch Qualcomm  399.00
2  Sony WH1000XM4 Noise Canceling Wireless Headph...  385.00
3                       Nintendo Switch Console Lite  329.95
4    PHILIPS Sonicare 9900 Prestige Power Toothbrush  329.00
5                                  Apple AirPods Pro  309.00
6                        Samsung T37F Monitor UHD 37  299.00
7                 LG 29WL50S - 29 inch UltraWide UHD  279.00
8                     Apple AirPods (3rd Generation)  257.00
9                            Kindle Paperwhite (8GB)  239.00

##### 03 Quais os produtos com maior receita?

```sql
CREATE VIEW vwProdutosMaiorReceita AS (
SELECT
    p.Produto,
    SUM(p.Preco * v.Qty) AS ReceitaTotal
FROM
    produtos p
JOIN
    vendas v ON p.Codigo = v.Codigo
GROUP BY
    p.Produto
ORDER BY
    ReceitaTotal desc);
```

In [14]:
df_ProdutosMaiorReceita = pd.read_sql("SELECT * FROM vwProdutosMaiorReceita;", engine); df_ProdutosMaiorReceita.head(10)

                                             produto  receitatotal
0  Sony WH1000XM4 Noise Canceling Wireless Headph...     5841990.0
1    LEGO Ideas Home Alone McCallisters’ House 21330     5578825.0
2                       Nintendo Switch Console Lite     5033717.2
3    PHILIPS Sonicare 9900 Prestige Power Toothbrush     4983363.0
4       TicWatch Pro 3 Ultra GPS Smartwatch Qualcomm     4938822.0
5                 LG 29WL50S - 29 inch UltraWide UHD     4211505.0
6                                  Apple AirPods Pro     3822330.0
7                            Kindle Paperwhite (8GB)     3600296.0
8  YABER WiFi Projector Mini Portable Projector 6...     3300084.0
9                        Samsung T37F Monitor UHD 37     3258203.0

##### 04 Quais os produtos tem maior média de quantidade vendidas?

```sql
CREATE VIEW vwProdutosMaiorMediaQuantidade AS (
SELECT
    p.Produto,
    ROUND(AVG(v.Qty), 2) AS MediaQuantidadeVendida
FROM
    produtos p
JOIN
    vendas v ON p.Codigo = v.Codigo
GROUP BY
    p.Produto
ORDER BY
    MediaQuantidadeVendida desc);

```

In [16]:
df_ProdutosMaiorMediaQuantidade = pd.read_sql("SELECT * FROM vwProdutosMaiorMediaQuantidade;", engine); df_ProdutosMaiorMediaQuantidade.head(10)

                                             produto  mediaquantidadevendida
0                              Apple Lightning Cable                    3.04
1               Taco Cat Goat Cheese Pizza Card Game                    3.02
2  Logitech MK270R Wireless Keyboard and Mouse Combo                    3.02
3                       Nintendo Switch Console Lite                    3.02
4  Digital Blood Pressure Monitor with Large Colo...                    3.02
5  Fingertip Pulse Oximeter, Blood Oxygen Saturation                    3.02
6                              Apple MagSafe Charger                    3.01
7                           Charmast Mini Power Bank                    3.01
8  Sony WH1000XM4 Noise Canceling Wireless Headph...                    3.01
9                 Seagate 2TB Expansion Portable HDD                    3.01

##### 05 Quais produtos tem mais vendas?

```sql
CREATE VIEW vwProdutosMaisVendas AS (
SELECT
    p.Produto,
    COUNT(v."Order ID") AS TotalVendas
FROM
    produtos p
JOIN
    vendas v ON p.Codigo = v.Codigo
GROUP BY
    p.Produto
ORDER BY
    TotalVendas desc);
```

In [18]:
df_ProdutosMaisVendas = pd.read_sql("SELECT * FROM vwProdutosMaisVendas;", engine); df_ProdutosMaisVendas.head(10)

                                             produto  totalvendas
0  YABER WiFi Projector Mini Portable Projector 6...         5049
1                 LG 29WL50S - 29 inch UltraWide UHD         5049
2  Logitech MK270R Wireless Keyboard and Mouse Combo         5049
3    PHILIPS Sonicare 9900 Prestige Power Toothbrush         5049
4  Sony WH1000XM4 Noise Canceling Wireless Headph...         5049
5               Taco Cat Goat Cheese Pizza Card Game         5049
6        TP-Link Tapo Pan/Tilt Smart Security Camera         5049
7                            Kindle Paperwhite (8GB)         5048
8  HyperX QuadCast S – RGB USB Condenser Micropho...         5048
9                       Nintendo Switch Console Lite         5048

##### 06 Quais os produtos com o maior ticket médio

In [19]:
df_ProdutosMaiorTicketMedio = pd.read_sql("SELECT * FROM vwProdutosMaiorTicketMedio;", engine); df_ProdutosMaiorTicketMedio.head(10)

,produto,totalquantidadevendida,totalvendas,ticketmedio
0,Logitech MK270R Wireless Keyboard and Mouse Combo,15264,5049,3.0
1,Apple Lightning Cable,12542,4131,3.0
2,Nintendo Switch Console Lite,15256,5048,3.0
3,PHILIPS Sonicare 9900 Prestige Power Toothbrush,15147,5048,3.0
4,Apple Lightning to 3.5mm Headphone Jack Adapter,12449,4130,3.0
5,SanDisk Extreme microSDXC,12394,4131,3.0
6,Seagate 2TB Expansion Portable HDD,12425,4131,3.0
7,Sony WH1000XM4 Noise Canceling Wireless Headph...,15174,5049,3.0
8,Taco Cat Goat Cheese Pizza Card Game,15247,5049,3.0
9,Apple MagSafe Charger,12452,4131,3.0

##### 07 Quais os meses com mais vendas?

```sql
CREATE VIEW vwVendasPorMes as (
SELECT
    TO_CHAR(v."Date", 'Month') AS Mes,
    SUM(v.Qty) AS QuantidadeVendida
FROM
    vendas v
GROUP BY
    Mes);
```

In [23]:
df_VendasPorMes = pd.read_sql("SELECT * FROM vwVendasPorMes;", engine); df_VendasPorMes.head(12)

         mes  quantidadevendida
0  April                 147175
1  June                  113396
2  March                    506
3  May                   125791

##### 08 Quais os produros com maior consistência de vendas?

```sql
CREATE VIEW vwProdutosMaiorConsistencia AS (
WITH VendasProdutosMensais AS (
    SELECT
        p.Produto,
        EXTRACT(MONTH FROM v."Date") AS Mes,
        SUM(v.Qty) AS TotalQuantidadeVendida
    FROM
        produtos p
    JOIN
        vendas v ON p.Codigo = v.Codigo
    GROUP BY
        p.Produto, Mes
)
SELECT
    Produto,
    AVG(TotalQuantidadeVendida) AS MediaMensal,
    STDDEV(TotalQuantidadeVendida) AS DesvioPadrao
FROM
    VendasProdutosMensais
GROUP BY
    Produto
ORDER BY
    DesvioPadrao ASC);
```

In [26]:
df_ProdutosMaiorConsistencia = pd.read_sql("SELECT * FROM vwProdutosMaiorConsistencia;", engine); df_ProdutosMaiorConsistencia.head(10)

,produto,mediamensal,desviopadrao
0,Samsung T37F Monitor UHD 37,2724.25,1850.953335
1,"HEYMIX Powerboard, Power Strip with 8 Outlets,...",3070.00,2075.634361
2,Apple AirPods (3rd Generation),3062.50,2084.110762
3,Google Chromecast 3rd Generation,3075.75,2084.787339
4,Withings BPM Connect Wireless Blood Pressure M...,3081.00,2084.884969
5,New Apple AirTag 4 Pack,3083.00,2090.315925
6,LEGO Ideas 21319 Central Perk Building Kit,3072.25,2092.686053
7,Webcam HD 1080p Web Camera,3076.25,2098.226930
8,Apple AirPods Pro,3092.50,2099.032555
9,Digital Blood Pressure Monitor with Large Colo...,3119.25,2100.863850

##### 09 Qual o produto mais pedido de cada mês?

```sql
CREATE VIEW vwProdutoMaisPedidoPorMes AS (
WITH VendasProdutosMensais AS (
    SELECT
        EXTRACT(MONTH FROM "Date") AS Mes,
        p.Produto,
        SUM(v.Qty) AS QuantidadeVendida
    FROM vendas v
    JOIN produtos p ON v.Codigo = p.Codigo
    GROUP BY Mes, p.Produto
),
RankPorMes AS (
    SELECT
        Mes,
        Produto,
        QuantidadeVendida,
        RANK() OVER (PARTITION BY Mes ORDER BY QuantidadeVendida DESC) AS Ranking
    FROM VendasProdutosMensais
)
SELECT
    TO_CHAR(TO_DATE(Mes::TEXT, 'MM'), 'Month') AS NomeMes,
    Produto,
    QuantidadeVendida
FROM RankPorMes
WHERE Ranking = 1
ORDER BY Mes);
```

In [28]:
df_ProdutoMaisPedidoPorMes = pd.read_sql("SELECT * FROM vwProdutoMaisPedidoPorMes;", engine); df_ProdutoMaisPedidoPorMes.head(12)

,nomemes,produto,quantidadevendida
0,March,Kindle Paperwhite (8GB),30
1,April,Taco Cat Goat Cheese Pizza Card Game,5851
2,May,Nintendo Switch Console Lite,4994
3,June,Logitech MK270R Wireless Keyboard and Mouse Combo,4580

##### 10 Quais os países com maior número de pedidos?

```sql
CREATE VIEW vwPaisesMaisPedidos AS (
SELECT
    v."ship-country" AS Pais,
    COUNT(DISTINCT v."Order ID") AS TotalPedidos
FROM
    vendas v
GROUP BY
    Pais
ORDER BY
    TotalPedidos DESC);
```

In [30]:
df_PaisesMaisPedidos = pd.read_sql("SELECT * FROM vwPaisesMaisPedidos;", engine); df_PaisesMaisPedidos.head(10)

  pais  totalpedidos
0   BR         14383
1   US         14323
2   UK         14322
3   AU         14321
4   FR         14321
5   JP         14320
6   DK         14320
7   GE         14319
8   PT         14317

##### 11 Qual o produto mais pedido em cada país?

```sql
CREATE VIEW vwProdutoMaisPedidoPorPais AS (
WITH VendasPorPais AS (
    SELECT
        v."ship-country" AS Pais,
        p.Produto,
        SUM(v.Qty) AS TotalQuantidadeVendida
    FROM
        produtos p
    JOIN
        vendas v ON p.Codigo = v.Codigo
    GROUP BY
        Pais, p.Produto
),
RankPorPais AS (
    SELECT
        Pais,
        Produto,
        TotalQuantidadeVendida,
        RANK() OVER (PARTITION BY Pais ORDER BY TotalQuantidadeVendida DESC) AS Ranking
    FROM
        VendasPorPais
)
SELECT
    Pais,
    Produto,
    TotalQuantidadeVendida
FROM
    RankPorPais
WHERE
    Ranking = 1);
```

In [32]:
df_ProdutoMaisPedidoPorPais = pd.read_sql("SELECT * FROM vwProdutoMaisPedidoPorPais;", engine); df_ProdutoMaisPedidoPorPais

,pais,produto,totalquantidadevendida
0,AU,YABER WiFi Projector Mini Portable Projector 6...,1822
1,BR,Nintendo Switch Console Lite,1798
2,DK,LG 29WL50S - 29 inch UltraWide UHD,1750
3,FR,PHILIPS Sonicare 9900 Prestige Power Toothbrush,1737
4,GE,Logitech MK270R Wireless Keyboard and Mouse Combo,1833
5,JP,Kindle Paperwhite (8GB),1826
6,PT,LG 29WL50S - 29 inch UltraWide UHD,1775
7,UK,TP-Link Tapo Pan/Tilt Smart Security Camera,1756
8,US,PHILIPS Sonicare 9900 Prestige Power Toothbrush,1807

##### 12 Quais os produtos tem mais cancelamento de envio?

```sql
CREATE VIEW vwProdutosMaisCancelamentos AS (
SELECT
    p.Produto,
    SUM(CASE WHEN v."Courier Status" = 'Cancelled' THEN 1 ELSE 0 END) AS Cancelamentos
FROM produtos p
JOIN vendas v ON p.Codigo = v.Codigo
GROUP BY p.Produto
ORDER BY Cancelamentos DESC);
```

In [34]:
df_ProdutosMaisCancelamentos = pd.read_sql("SELECT * FROM vwProdutosMaisCancelamentos;", engine); df_ProdutosMaisCancelamentos.head(10)

                                             produto  cancelamentos
0  YABER WiFi Projector Mini Portable Projector 6...            246
1                 LG 29WL50S - 29 inch UltraWide UHD            240
2                            Kindle Paperwhite (8GB)            238
3  HyperX QuadCast S – RGB USB Condenser Micropho...            237
4  Logitech MK270R Wireless Keyboard and Mouse Combo            237
5  Sony WH1000XM4 Noise Canceling Wireless Headph...            237
6                       Nintendo Switch Console Lite            236
7        TP-Link Tapo Pan/Tilt Smart Security Camera            236
8    PHILIPS Sonicare 9900 Prestige Power Toothbrush            235
9               Taco Cat Goat Cheese Pizza Card Game            234

##### 13 Quais os produtos tem mais envio?

```sql
CREATE VIEW vwProdutosMaisEnvios as (
SELECT
    p.Produto,
    SUM(CASE WHEN v."Courier Status" = 'Shipped' THEN 1 ELSE 0 END) AS Enviados
FROM produtos p
JOIN vendas v ON p.Codigo = v.Codigo
GROUP BY p.Produto
ORDER BY Enviados DESC);
```

In [36]:
df_ProdutosMaisEnvios = pd.read_sql("SELECT * FROM vwProdutosMaisEnvios;", engine); df_ProdutosMaisEnvios.head(10)

                                             produto  enviados
0               Taco Cat Goat Cheese Pizza Card Game      4547
1    PHILIPS Sonicare 9900 Prestige Power Toothbrush      4547
2                            Kindle Paperwhite (8GB)      4544
3  Sony WH1000XM4 Noise Canceling Wireless Headph...      4544
4                       Nintendo Switch Console Lite      4544
5  Logitech MK270R Wireless Keyboard and Mouse Combo      4544
6  HyperX QuadCast S – RGB USB Condenser Micropho...      4543
7        TP-Link Tapo Pan/Tilt Smart Security Camera      4543
8                 LG 29WL50S - 29 inch UltraWide UHD      4540
9  YABER WiFi Projector Mini Portable Projector 6...      4534

##### 14 Quais os serviços de entregas mais pedidos?

```sql
CREATE VIEW vwServicosEntregaMaisPedidos AS (
SELECT
    DISTINCT v."ship-service-level" AS "Serviço de Entrega",
    COUNT(v."Order ID") OVER (PARTITION BY v."ship-service-level") AS TotalVendas
FROM
    vendas v
ORDER BY
    TotalVendas DESC);
```

In [37]:
df_ServicosEntregaMaisPedidos = pd.read_sql("SELECT * FROM vwServicosEntregaMaisPedidos;", engine); df_ServicosEntregaMaisPedidos.head(10)

  Serviço de Entrega  totalvendas
0          Expedited        88615
1           Standard        40360

##### 15 Quais os estilos mais pedidos?

```sql
CREATE VIEW vwEstilosMaisPedidos AS (
SELECT
    DISTINCT v."Style" AS Estilo,
    COUNT(v."Order ID") OVER (PARTITION BY v."Style") AS TotalVendas
FROM
    vendas v
ORDER BY
    TotalVendas DESC);
```

In [38]:
df_EstilosMaisPedidos = pd.read_sql("SELECT * FROM vwEstilosMaisPedidos;", engine); df_EstilosMaisPedidos.head(10)

    estilo  totalvendas
0  JNE3797         4224
1  JNE3405         2263
2    J0230         1868
3   SET268         1860
4    J0341         1630
5    J0003         1627
6   SET324         1284
7   SET345         1250
8  JNE3373         1173
9  JNE3440         1054